name: Build and push docker image

on:
  push:
    paths: 
      - 'backend/**'

    branches:
      - develop
      - master

  pull_request:
    paths: 
      - 'backend/**'
    branches:
      - develop
      - master

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/develop'

        steps:

        - name: Checkout code
          uses: actions/checkout@v3

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v2

        - name: Log in to Docker Hub
          uses: docker/login-action@v2
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}

        - name: Build and tag Docker image
          run: |
            cd backend && VERSION=$(jq -r .version < package.json)
            docker build -t ${{ secrets.DOCKER_USERNAME }}/backend:v$VERSION .
        
        - name: Push Docker image
          run: |
            cd backend && VERSION=$(jq -r .version < package.json)
            docker push ${{ secrets.DOCKER_USERNAME }}/backend:v$VERSION

        - name: Pull Docker image
          run: |
            cd backend && VERSION=$(jq -r .version < package.json)
            docker pull ${{ secrets.DOCKER_USERNAME }}/backend:v$VERSION